*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  margin: 0 auto:
  max-width: 1300px;
}


body p {
  font-family: 'Open Sans', sans-serif;
}


/*GENERAL PAGE LAYOUT*/
/*includes main structural sections on page*/

.holdsHeaderImage {
  max-width: 1300px;
  height: 523px;
  background-image: url(../images/beach.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.imageOverlay {
  width: 1300px;
  height: 523px;
  position: absolute;
  background-color: #1962A4;
  opacity: 0.8;
  z-index: 0;
}

.holdsHeaderContent {
  width: 996px;
  height: 338px;
  margin-left: 141px;
}

.viewPages {
  max-width: 990px;
  height: 45px;
}


/*ARTICLE and ASIDE*/

.holdsContent {
  max-width: 1300px;
  height: 1005px;
}

.holdsArticle {
  max-width: 978px;
  height: 874px;
  margin-left: 164px;
}

/* .holdsArticleTitle {
  width: 565px;
  height: 165px;
  margin-top: 70px;
  margin-left: 164px;
  background-color: blue;
  margin-right: 0;
} */

.articleContent {
  max-width: 550px;
  height: 613px;
  /* margin-left: 164px; */
  display: inline-block;
  margin-right: 20px;
}

.aboutAuthor {
  width: 281px;
  height: 613px;
  background-color: #fff;
  display:inline-block;
  /* background-color: yellow; */
  vertical-align: top;
  margin-top: 75px;
  margin-right: 0;
  margin-left: 82px;
}


  /*ARTICLE FOOTER*/

    /*MOST POPULAR POSTS*/

    .holdsPopPosts {
      max-width: 1300px;
      height: 147px;
      margin: 0 auto;
      /* background-color: blue; */
    }

    /*POPULAR POSTS*/

    .viewPopPosts {
      width: 1300px;
      height: 330px;
    }


    /*PAGE FOOTER*/

  .endsPage {
    max-width: 1300px;
    height: 97px;
    background-color: rgb(10, 46, 72);
  }



  /*STYLINGS for main structural elements*/
  /***************************************/

  /*PAGE HEADER*/

    /*nav container*/

    .viewPages {
      max-width: 1300px;
      height: 50px;
      padding-top: 9px;
      margin-left: 0;
      /* background-color: yellow; */
      display: inline-block;
      /* z-index: 3; */
    }

    .loadHome {
      width: 250px;
      height:46px;
      display: inline-block;
    }

    .loadHome img {
      vertical-align: middle;
      padding-right: 14px;
    }

    .loadHome span {
      font-family: 'Oswald', sans-serif;
      color: #092E47;
    }

    /*ABOUT and SEARCH*/

    .visitPages {
      width: 150px;
      height: 16px;
      margin-top: 9px;
      /* float: right; */
      position: absolute;
      top: 9px;
      right: 170px;
    }

    .visitPages li {
      display: inline-block;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      color: #092E47;
    }

    .visitPages li img {
      display: inline-block;
      vertical-align: middle;
      }

      .visitPages li:nth-child(2) {
        padding-right: 1px;
      }

      .visitPages li:hover {
        color: #99AAB7;
      }


    /*SITE TITLE, HEADINGS*/

      hgroup {
        width: 900px;
        height: 107px;
        padding-left: 0;
        padding-top: 201px;
        padding-bottom: 224px;
      }

      hgroup h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 90px;
        color: #fff;
        /* letter-spacing: 9px; */
        /* padding-left: 54px; */
        text-align: center;
      }

      hgroup h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 400;
        color: #092E47;
        margin-top: 16px;
        text-align: center;
      }



  /*MAIN-ARTICLE*/

      /*article content*/

      .articleContent h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 56px;
        padding-top: 20px;
      }

      .articleContent {
        margin-top: 60px;
      }

      .firstGraph, .secondGraph, .thirdGraph, .fourthGraph p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 20px;
        /* margin-bottom: 38px; */
      }

      .firstGraph {
        margin-bottom: 38px;
        margin-top: 38px;
      }

      .fourthGraph {
        margin-top: 40px;
      }

      blockquote {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        font-weight: 300;
        color: #004DAE;
        margin-top: 45px;
        margin-bottom: 51px;
      }



      /*article actions*/

      .articleActions {
        width: 462px;
        height: 32px;
        margin-top: 30px;
      }

      /*articleActions when NOT in use*/

        .articleActions li {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 300;
          display: inline-block;
        /*   background-color: blue; */
        }

        .articleActions li span {
          color: #fff;
          padding: 10px 12px 9px 13px;
          /* background-color: #A0B3C0; */
        }

        .readComments {
          width: 157px;
          height: 30px;
          background-color: #A0B3C0;
        }

        .readLater {
          width: 127px;
          height: 30px;
          background-color: #A0B3C0;
          margin-left: 10px;
        }

        .sharePost {
          width: 155px;
          height: 30px;
          background-color: #A0B3C0;
          margin-left: 10px;
        }

        .articleActions .fa {
          font-size: 20px;
          color: #fff;
          width: 33px;
          height: 30px;
          background-color: #5C6870;
          padding-top: 4px;
          vertical-align: middle;
          text-align: center;
          /* padding-left: 8px;
          padding-top: 9px; */
        }

        /*articleActions IN use*/

        .articleActions li:hover{
          background-color: #0069B6;
        }


  /*ARTICLE-FOOTER*/

    .holdsPopPosts h1 {
      width: 565px;
      height: 58px;
      font-family: 'Oswald', sans-serif;
      font-size: 58px;
      color: #092E47;
      margin: 0 auto;
      padding-top: 38px;
    }

    .viewPopPosts li /* img */ {
      display: inline-block;
    }

      /* .viewPopPosts li img:nth-child(1) {
        width: 323px;
        height: 330px;
      }

      .viewPopPosts li:nth-child(2) {
        width: 325px;
        height: 330px;
      }

      .viewPopPosts li:nth-child(3) {
        width: 326px;
        height: 330px;
      }

      .viewPopPosts li:nth-child(4) {
        width: 326px;
        height: 330px;
      }
       */




  /*PAGE FOOTER*/


    .holdsFooter {
      width: 363px;
      height: 68px;
      margin-left: 165px;
      margin-top: 20px;
      display: inline-block;
      vertical-align: middle;
    }

    .holdsFooter img {
      vertical-align: middle;
    }

    .holdsFooter span {
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
      color: #fff;
      padding-left: 10px;
      vertical-align: middle;
    }

    .navFooter {
      width: 317px;
      height: 14px;
      margin-right: 163px;
      margin-top: 43px;
      display: inline-block;
      float: right;
    }

    .navFooter li {
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 300;
      color: #fff;
      padding-left: 16px;
      display: inline-block;
    }

      .navFooter li:hover {
      color: #99AAB7;
    }
