*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body p {
  font-family: 'Open Sans', sans-serif;
}



/***************************************/
/*GENERAL PAGE LAYOUT*/
/*includes main structural elements on page*/
/***************************************/



.holdsHeaderImage {
  max-width: 1300px;
  height: 523px;
  background-image: url(../images/beach.jpeg);
  background-repeat: no-repeat;
  background-size: cover
  margin: 0;
}

.holdsHeaderContent {
  width: 996px;
  height: 338px;
  margin-left: 141px;
}

.viewPages {
  max-width: 990px;
  height: 45px;
}



/*ARTICLE and ASIDE*/

.holdsContent {
  max-width: 1300px;
  height: 1005px;
  background-color: green;
}

  .holdsArticle {
    max-width: 978px;
    height: 874px;
    background-color: red;
    margin-left: 164px;
  }

  .holdsArticleTitle {
    max-width: 619px;
    height: 165px;
    /* margin-top: 70px; */
    /* margin-left: 164px; */
    background-color: blue;
  }

  .articleContent {
    max-width: 619px;
    height: 613px;
    /* margin-left: 164px; */
    display: inline-block;
    background-color: orange;
  }

  .aboutAuthor {
    max-width: 281px;
    height: 613px;
    background-color: #fff;
    display:inline-block;
    background-color: yellow;
    vertical-align: top;
  }



  /*ARTICLE FOOTER*/

    /*MOST POPULAR POSTS*/

    .holdsPopPosts {
      max-width: 1300px;
      height: 147px;
      margin: 0 auto;
      /* background-color: blue; */
    }

    /*POPULAR POSTS*/

    .viewPopPosts {
      max-width: 1300px;
      height: 300px;
    }




    /*PAGE FOOTER*/

  .endsPage {
    max-width: 1300px;
    height: 97px;
    background-color: rgb(10, 46, 72);
  }



  /***************************************/
  /*STYLINGS for main structural elements*/
  /***************************************/



  /*PAGE HEADER*/

    /*nav container*/

    .viewPages {
      max-width: 1020px;
      height: 50px;
      padding-top: 9px;
      margin-left: 0;
      /* background-color: yellow; */
      display: inline-block;
      z-index: 3;
    }

    .loadHome {
      width: 250px;
      height:46px;
      display: inline-block;
    }

    .loadHome img {
      vertical-align: middle;
      padding-right: 14px;
    }

    .loadHome span {
      font-family: 'Oswald', sans-serif;
      color: #092E47;
    }

    /*ABOUT and SEARCH*/

    .visitPages {
      width: 150px;
      height: 16px;
      margin-top: 9px;
      /* float: right; */
      position: absolute;
      top: 9px;
      right: 170px;
    }

    .visitPages li {
      display: inline-block;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      color: #092E47;
    }

    .visitPages li img {
      display: inline-block;
      vertical-align: middle;
      }

      .visitPages li:nth-child(1) {
        padding-right: 12px;
      }

      .visitPages li:nth-child(2) {
        padding-right: 1px;
      }

      .visitPages li:hover {
        color: #99AAB7;
      }


      hgroup {
        width: 900px;
        height: 107px;
        padding-left: 0;
        padding-top: 201px;
        padding-bottom: 224px;
      }

      hgroup h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 81px;
        color: #fff;
        letter-spacing: 10px;
        padding-left: 54px;
      }

      hgroup h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #fff;
        margin-top: 16px;
        text-align: center;
      }





  /*ARTICLE STUFF*/

  .holdsPopPosts h1 {
    width: 565px;
    height: 58px;
    font-family: 'Oswald', sans-serif;
    font-size: 58px;
    color: #092E47;
    margin: 0 auto;
    padding-top: 38px;
  }




  /*ARTICLE FOOTER*/



  /*PAGE FOOTER*/


    .holdsFooter {
      width: 363px;
      height: 68px;
      margin-left: 165px;
      margin-top: 20px;
      display: inline-block;
      vertical-align: middle;
    }

    .holdsFooter img {
      vertical-align: middle;
    }

    .holdsFooter span {
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
      color: #fff;
      padding-left: 10px;
      vertical-align: middle;
    }

    .navFooter {
      width: 317px;
      height: 14px;
      margin-right: 163px;
      margin-top: 43px;
      display: inline-block;
      float: right;
    }

    .navFooter li {
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 300;
      color: #fff;
      padding-left: 16px;
      display: inline-block;
    }

    .navFooter li:hover {
      color: #99AAB7;
    }
