*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body p {
  font-family: 'Open Sans', sans-serif;
}


/*GENERAL PAGE LAYOUT*/
/*includes main structural sections on page*/

.holdsHeaderImage {
  max-width: 1300px;
  height: 523px;
  background-image: url(../images/beach.jpeg);
  background-repeat: no-repeat;
  background-size: cover
  margin: 0;
}

.holdsHeaderContent {
  max-width: 996px;
  width: 338px;
}

.viewPages {
  max-width: 990px;
  height: 45px;
}

/*ARTICLE and ASIDE*/

.holdsContent {
  max-width: 1300px;
  height: 1005px;
  background-color: green;
}

  .holdsArticle {
    max-width: 978px;
    height: 874px;
    background-color: red;
    margin-left: 164px;
  }

  .holdsArticleTitle {
    max-width: 619px;
    height: 165px;
    /* margin-top: 70px; */
    /* margin-left: 164px; */
    background-color: blue;
  }

  .articleContent {
    max-width: 619px;
    height: 613px;
    /* margin-left: 164px; */
    display: inline-block;
    background-color: orange;
  }

  .aboutAuthor {
    max-width: 281px;
    height: 613px;
    background-color: #fff;
    display:inline-block;
    background-color: yellow;
    vertical-align: top;
  }

  /*"MOST POPULAR POSTS" headline*/

  .holdsPopPosts {
    max-width: 1300px;
    height: 147px;
    margin: 0 auto;
    background-color: blue;
  }

  /*POPULAR POSTS*/

  .viewPopPosts {
    max-width: 1300px;
    height: 300px;
  }

    /*PAGE FOOTER*/

  .endsPage {
    max-width: 1300px;
    height: 97px;
    background-color: rgb(10, 46, 72);
  }



  /*STYLINGS for main structural elements*/


  .holdsFooter {
    width: 363px;
    height: 68px;
    margin-left: 165px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .holdsFooter img {
    vertical-align: middle;
  }

  .holdsFooter span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    padding-left: 10px;
    vertical-align: middle;
  }

  .navFooter {
    width: 317px;
    height: 14px;
    margin-right: 163px;
    margin-top: 43px;
    display: inline-block;
    float: right;
  }

  .navFooter li {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    padding-left: 16px;
    display: inline-block;
  }

  .navFooter li:hover {
    color: #99AAB7;
  }
